@{
   ViewData["Title"] = "Privacy Policy";
}
<div class="alter alter-info">
<h1>@ViewData["Title"]</h1>
<p>Mã sinh viên: 2310900102</p>
<p>Họ và tên: Nguyễn Huy Thông</p>
<p>Ngày sinh: 04/09/2005</p>
<p>Email: </p>
<p>Điện Thoại: </p>
<p>Lớp: K23CNT2</p>
    </div>