@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900102 </p>
    <p>Họ và tên: Nguyễn Huy Thông </p>
    <p>Email: bhuythong04@gmail.com </p>
    <p>Số điện thoại: <a href="tel:0967599296">0967599296</a></p>
    <p>Lớp: K23CNT2</p>
</div>