
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div>
<h1>thông tin sinh viên</h1>
<hr />
<p> MSV: 2310900102</p>
<p> Họ và tên:Nguyễn Huy Thông</p>
<p> Lớp: K23cnt2</p>
<p> Email: bhuythong04@gmail.com</p>

</div>