@{
    ViewData["Title"] = "Thông tin sin viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã Sinh viên: 2310900102</p>
    <p>Họ và tên:Nguyễn Huy Thông</p>
    <p>Số Điện Thoại: 0967599296</p>
    <p>Email: bhuythong04@gamil.com</p>
</div>
